@use "../styles/components/fonts";
@use "../styles/mixins" as *;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Favoritmono", sans-serif;
  font-style: light;
}

.globalContainer{
  padding: calc-size(30);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
