@use "../styles/components/fonts";
@use "../styles/mixins" as *;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Favoritmono", sans-serif;
  font-style: light;
}

.globalContainer{
  padding: calc-size(30);
  padding-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 769px) {
  .globalContainer {
    overflow-y: hidden;
    height: 100vh;
  }
  
  .letterSpan {
    transition: color 0.2s ease;
    color: black; 
  }
  
  .howWeDidItParagraph .letterSpan.highlight {
    color: white !important;
  }

  .letterSpan.highlight {
    color: white !important;
  }
  
  
.projectSection h3.howWeDidItHeader,
.projectSection h3.rolesHeader,
.projectSection h3.detailsHeader {
font-weight: normal !important;
}

.modalContainer.prev {
  cursor: url(/svgs/PREV.svg) 16 16, auto;
}

.modalContainer.next {
  cursor: url(/svgs/NEXT.svg) 16 16, auto;
}

}