@use '../styles/mixins' as *;

.home{
    width: 100%;
    height: 100%;
    padding-top: calc-size(40);
    padding-bottom: calc-size(122);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc-size(60);

    @media (min-width: 769px) {
        .home {
          overflow-y: hidden;
        }
      }
      

    .row{
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 768px) {
        .row {
            display: flex;
            flex-direction: column; 
            align-items: center;
            gap: calc-size(20);
        }

        .home{
         

            

        }
        @media (max-width: 768px) {
            .home {
              height: auto !important;
              overflow: visible !important;
            }
          }

        .homeMediaGrid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            padding: 10px;
            overflow-y: auto;
          }
    }

    .homeMedia{
        position: relative;
    }

    .homeMedia.mediaNumber-1{
        width:  calc-size(350);
        height: calc-size(250);
        img{
            position: absolute;
            bottom: calc-size(-120);
        }
        .client{
            bottom: calc-size(-150);
            right: 0;
        }
    }
    .homeMedia.mediaNumber-2{
        width: calc-size(610);
        height: calc-size(300);
        img{
            position: absolute;
            right: calc-size(-10);
        }
        .client{
            bottom: calc-size(-32);
            right: calc-size(-12);
        }
    }
    .homeMedia.mediaNumber-3{
        width: calc-size(403);
        height: calc-size(260);
        img{
            position: absolute;
            bottom: calc-size(-30);
        }
        .client{
            bottom: calc-size(-62);
            right: 0;
        }
    }
    .homeMedia.mediaNumber-4{
        width: calc-size(187);
        height: calc-size(187);
        img{
            position: absolute;
            bottom: calc-size(-200);
        }
        .client{
            bottom: calc-size(-230);
            right: 0;
        }
    }
    .homeMedia.mediaNumber-5{
        width: calc-size(377);
        height: calc-size(210);
        img{
            position: absolute;
            bottom: calc-size(-80);
            right: calc-size(-150);
        }
        .client{
            bottom: calc-size(-112);
            right: calc-size(-150)
        }
    }
    .homeMedia.mediaNumber-6{
        width: calc-size(300);
        height: calc-size(380);
        img{
            position: absolute;
            right: calc-size(-95);
        }
        .client{
            bottom: calc-size(-26);
            right: calc-size(-92)
        }
        
    }
    .homeMedia.mediaNumber-7{
        width: calc-size(353);
        height: calc-size(330);
        img{
            position: absolute;
            right: calc-size(-40);
            bottom: calc-size(-35);
        }
        .client{
            bottom: calc-size(-65);
            right: calc-size(-40)
        }
    }
    .homeMedia.mediaNumber-8{
        width: calc-size(420);
        height: calc-size(211);
        img{
            bottom: calc-size(-100);
            position: absolute;
        }
        .client{
            bottom: calc-size(-130);
            right: 0
        }
    }
      
}