@use '../../src/styles/mixins' as *;

.home{
    width: 100%;
    height: 100%;
    padding-top: calc-size(80);
    padding-bottom: calc-size(80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc-size(15);




    



    .row{
        display: flex;
        justify-content: space-between;
    }

    .homeMedia.mediaNumber-1{
        width:  calc-size(350);
        height: calc-size(256);
    }
    .homeMedia.mediaNumber-2{
        width: calc-size(610);
        height: calc-size(330);
    }
    .homeMedia.mediaNumber-3{
        width: calc-size(400);
        height: calc-size(266);
    }
    .homeMedia.mediaNumber-4{
        width: calc-size(186);
        height: calc-size(186);
    }
    .homeMedia.mediaNumber-5{
        width: calc-size(377);
        height: calc-size(212);
    }
    .homeMedia.mediaNumber-6{
        width: calc-size(300);
        height: calc-size(404);
    }
    .homeMedia.mediaNumber-7{
        width: calc-size(350);
        height: calc-size(330);
    }
    .homeMedia.mediaNumber-8{
        width: calc-size(419);
        height: calc-size(211);
    }
      
}