@use '../styles/mixins' as *;

.home {
  width: 100%;
  height: 100%;
  padding-top: calc-size(32);
  padding-bottom: calc-size(122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc-size(60);


  
  @media (min-width: 769px) {
    .home {
      overflow-y: hidden;
    }

    @media screen  and (max-width: 1024px) and (min-width: 769px) {
        gap: calc-size(140); 
        
    }
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  @media (max-width: 768px) {
    .row {
      display: flex;
      flex-direction: column; 
      align-items: center;
      gap: calc-size(20);
    }
  
      .home {
        height: auto !important;
        overflow: visible !important;
      }
  
    .homeMediaGrid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 10px;
      overflow-y: auto;
    }
  }
  
  .homeMedia {
    position: relative;
  
  
    .imgOuter {
      position: relative;
      width: 100%;
      height: 100%;
    }
  
    .imgInner {
      width: 100%;
      height: 100%;
      overflow: hidden; 
      position: relative;
    }
  
    .imgInner img,
    .imgInner video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
      transform-origin: center;
    }
  
    &:hover .imgInner img,
    &:hover .imgInner video {
      transform: scale(1.05);
    }
  
    .client {
      position: absolute;
      font-size: calc-size(15);
    }
  
    &.notVisible {
      opacity: 0;
    }
  
    &.visible {
      opacity: 1;
    }
  }
  
  .homeMedia.mediaNumber-1 {
    width: calc-size(350);
    height: calc-size(250);
  
    .imgOuter {
      position: absolute;
      bottom: calc-size(-120);
    }
  
    .client {
      bottom: calc-size(-150);
      right: 0;
    }
  }
  
  .homeMedia.mediaNumber-2 {
    width: calc-size(610);
    height: calc-size(300);
  
    .imgOuter {
      position: absolute;
      right: calc-size(-10);
    }
  
    .client {
      bottom: calc-size(-32);
      right: calc-size(-12);
    }
  }
  
  .homeMedia.mediaNumber-3 {
    width: calc-size(403);
    height: calc-size(260);
  
    .imgOuter {
      position: absolute;
      bottom: calc-size(-30);
    }
  
    .client {
      bottom: calc-size(-62);
      right: 0;
    }
  }
  
  .homeMedia.mediaNumber-4 {
    width: calc-size(187);
    height: calc-size(187);
  
    .imgOuter {
      position: absolute;
      bottom: calc-size(-200);
    }
  
    .client {
      bottom: calc-size(-230);
      right: 0;
    }
  
    @media screen and (min-width: 1440px) and (max-width: 1920px) {
      height: calc-size(140);
    }
  }
  
  .homeMedia.mediaNumber-5 {
    width: calc-size(377);
    height: calc-size(210);
  
    .imgOuter {
      position: absolute;
      bottom: calc-size(-80);
      right: calc-size(-150);
    }
  
    .client {
      bottom: calc-size(-112);
      right: calc-size(-150);
    }
  }
  
  .homeMedia.mediaNumber-6 {
    width: calc-size(300);
    height: calc-size(380);
  
    .imgOuter {
      position: absolute;
      right: calc-size(-95);
    }
  
    .client {
      bottom: calc-size(-26);
      right: calc-size(-92);
    }
  }
  
  .homeMedia.mediaNumber-7 {
    width: calc-size(353);
    height: calc-size(310);
  
    .imgOuter {
      position: absolute;
      right: calc-size(-40);
      bottom: calc-size(-35);
    }
  
    .client {
      bottom: calc-size(-65);
      right: calc-size(-40);
    }
  }
  
  .homeMedia.mediaNumber-8 {
    width: calc-size(420);
    height: calc-size(211);
  
    .imgOuter {
      position: absolute;
      bottom: calc-size(-100);
    }
  
    .client {
      bottom: calc-size(-130);
      right: 0;
    }
  }
  
  @media screen and (min-width: 2560px) {
    gap: calc-size(160);
  }
}

@media screen and (min-width: 1440px) and (min-height: 729px)  and (max-height: 772px) {
  .home {
   padding-top: 0%;
  }
 
}
  
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .homeMedia.mediaNumber-1 {
    bottom: calc-size(100); 
  }
  
  .homeMedia.mediaNumber-4 {
    bottom: calc-size(120); 
  }
  
  .home .homeMedia.mediaNumber-5 .imgOuter {
    left: calc-size(140); 
  }
  
  .home .homeMedia.mediaNumber-5 .client {
    left: calc-size(280); 
    top: calc-size(380); 
  }
  
  .homeMedia.mediaNumber-6 {
    right: calc-size(60);
    height: calc-size(460) !important;
  }
  
  .homeMedia.mediaNumber-7 {
    height: calc-size(360) !important; 
  }
}
  
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .homeMedia.mediaNumber-1 {
    bottom: calc-size(20); 
  }
  
  .homeMedia.mediaNumber-2 {
    height: calc-size(350) !important; 
  }
  
  .home .homeMedia.mediaNumber-5 .client {
    left: calc-size(360); 
    top: calc-size(340); 
  }
  
  .homeMedia.mediaNumber-4 {
    bottom: calc-size(30); 
  }
  
  .homeMedia.mediaNumber-6 {
    right: calc-size(10);
    height: calc-size(420) !important;
  }
  
  .homeMedia.mediaNumber-7 {
    height: calc-size(330) !important; 
  }
}
