@use '../../styles/mixins' as *;
 
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc-size(18);
    line-height: calc-size(23);
    position: relative; 
    width: 100%;

    .logo {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
      img {
        margin-top: auto;
        width: 100%;
        max-width: 300px; 
        height: auto;
      }
    
}