@use '../../styles/mixins' as *;


.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: calc-size(18);
    line-height: calc-size(23);
    width: 100%;
    
    .navbar__desktop {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        font-size: calc-size(18);
        line-height: calc-size(23);
    }

    .navbar__bottom {
        display: none;
      }
      
    &--hide {
        top: -9vh; 
      }


      @media screen and (max-width: 768px) and (min-width: 600px) {
        &--hide {
            top: -14vh; 
          }
      }
      @media screen and (max-width: 599px) and (min-width: 426px) {
        &--hide {
            top: -12vh; 
          }
        
      }
        @media screen and (max-width: 425px) {
            &--hide {
                top: -14vh; 
            }
        }
    
      &--show {
        top: 0;
        }
        
    .contact--desktop {
        text-align: left; 
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        max-width: 50%;
        height: auto;
    }

    @media screen and (max-width: 767px) {
        .logo img {
            max-width: 100%;
        }
    }
    
    .social--desktop {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      
      .social--desktop p {
        display: inline-block;
        background-color: #FFDDE6;
        margin: 4px 0; 
        padding: 4px;
      }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 10000;
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        padding: 20px;
    
        .contact--desktop,
        .social--desktop {
          display: none; 
        }

        .logo {
          order: -1;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
        }
    
        .navbar__bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          padding: 10px 0;
        }
    
        .contact, .social {
          display: flex;
          flex-direction: column;
          width: 50%;
        }
    
        .contact {
          align-items: flex-start;
        }
    
        .social {
          align-items: flex-end;
          
          p {
            display: inline-block;
            background-color: #FFDDE6;
            margin: 4px 0;
            padding: 4px;
          }
        }
        .contact p, .social p {
          margin: 4px 0;
          font-size: 14px;
          white-space: nowrap;
        }
      }

      @media screen and (max-width: 425px) {
        .contact p, .social p {
          font-size: 10px;
        }
      }
}