.homeMediaGrid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 50px;
  padding: 10px;
  margin-top: 16rem;
  
}

.homeMediaGrid > *:not(:last-child) {
 margin: 0;
 
}

.gridItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.gridItem img,
.gridItem video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.client {
  margin-top: 5px;
  color: #333;
  text-align: center;
}


@media screen and (max-width: 425px) {
  .homeMediaGrid {
  font-size: 14px !important;
  }
  
}
