.back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-decoration: none;
    font-weight: normal;
    color: black; 
}

.back-button.underline {
    text-decoration: underline;
  }

.back-button:link,
.back-button:visited,
.back-button:hover,
.back-button:active {
    text-decoration: none;
}
