.back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px; 
    padding: 0.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-decoration: none;
    font-weight: normal;
    color: black; 
}


@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .back-button {
        font-size: 15px;
    }
}


@media screen and (min-width: 1441px) and (max-width: 2560px) {
    .back-button {
        font-size: 16px;
    }
}


@media screen and (min-width: 2561px) {
    .back-button {
        font-size: 16px;
    }
}

.back-button.underline {
    text-decoration: underline;
}

.back-button:link,
.back-button:visited,
.back-button:hover,
.back-button:active {
    text-decoration: none;
}
