.back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-decoration: underline;
    font-weight: normal;
}