.homeMedia{
   overflow: hidden;
     img,video{
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
     cursor: pointer;

     transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
     &:hover {
      img{
         transform: scale(1.05); 

      }
     }
   
     &.notVisible{
      opacity: 0;
     }

     &.visible{
      opacity: 1;
     }
}